/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

//
// General configuration options
//

process {
    
    publishDir = [
        path: { "${params.outdir}/neissflow_out/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode
    ]

    withName: 'CHECK_FASTQS' {
        publishDir.enabled = false
    }

    withName: 'FASTP' {
        ext.args = '--detect_adapter_for_pe -q 30 -l 100'
        publishDir = [
            path: { "${params.outdir}/neissflow_out/QC_FASTQ/Samples" },
            mode: params.publish_dir_mode,
            pattern: "*/*gz"
        ]
    }
    withName: 'PARSE_FASTP_REPORTS' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'COMBINE_FASTP_REPORTS' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/QC_FASTQ/Reports" },
            mode: params.publish_dir_mode,
            pattern: 'neissflow_*.tsv'
        ]
    }

    withName: 'FASTP_QC_CHECK' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/QC_FASTQ/Reports" },
            mode: params.publish_dir_mode,
            pattern: 'neissflow_*.tsv'
        ]
    }
}

includeConfig 'modules_stats.config'
includeConfig 'modules_mash.config'
includeConfig 'modules_assembly.config'
includeConfig 'modules_qc_check.config'
includeConfig 'modules_merge.config'
includeConfig 'modules_snippy.config'
includeConfig 'modules_amr_profiler.config'
includeConfig 'modules_gubbins.config'
includeConfig 'modules_snpdists.config'
includeConfig 'modules_tree.config'