/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/neissflow_out/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode
    ]

    withName: 'CHECK_FASTQS' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'FASTP' {
        ext.args = '--detect_adapter_for_pe -q 30 -l 100'
        publishDir = [
            path: { "${params.outdir}/neissflow_out/QC_FASTQ/Samples" },
            mode: params.publish_dir_mode,
            pattern: "*/*gz"
        ]
    }
    withName: 'PARSE_FASTP_REPORTS' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'COMBINE_FASTP_REPORTS' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/QC_FASTQ/Reports" },
            mode: params.publish_dir_mode,
            pattern: 'neissflow_*.tsv'
        ]
    }

    withName: 'FASTP_QC_CHECK' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/QC_FASTQ/Reports" },
            mode: params.publish_dir_mode,
            pattern: 'neissflow_*.tsv'
        ]
    }

    withName: 'SNIPPY' {
        ext.args = 'minfrac 0.8 --basequal 20 --maxsoft 50 --bwaopt "-B 1"'
        publishDir = [
            path: { "${params.outdir}/neissflow_out/snippy/whole_genome" },
            mode: params.publish_dir_mode
        ]
    }
    
    withName: 'ALT_SNIPPY' {
        ext.args = 'minfrac 0.8 --basequal 20'
        publishDir = [
            path: { "${params.outdir}/neissflow_out/snippy/whole_genome" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'SHOVILL' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/processed_genomes" },
            mode: params.publish_dir_mode,
            pattern: '*_contigs.fa'
        ]
    }

    withName: 'ASSEMBLY_STATS' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/processed_genomes" },
            mode: params.publish_dir_mode,
            pattern: 'neissflow_*.txt'
        ]
    }

    withName: 'QUAST' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/processed_genomes/QUAST" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'MASH' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/MASH" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'COMBINE_MASH_REPORTS' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/MASH" },
            mode: params.publish_dir_mode,
            pattern: 'neissflow_*.tsv'
        ]
    }

    withName: 'STATS' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/COVERAGE" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'COVERAGE' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/COVERAGE" },
            mode: params.publish_dir_mode,
            pattern: 'neissflow_*.tsv'
        ]
    }

    withName: 'INITIAL_MERGE' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/QC_CHECK" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'QC_CHECK' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/QC_CHECK" },
            mode: params.publish_dir_mode,
            pattern: 'neissflow_*.tsv'
        ]
    }

    withName: 'SNIPPY_AMR' {
        ext.args = '--basequal 20'
        publishDir = [
            path: { "${params.outdir}/neissflow_out/snippy/AMR" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'DEPTH' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/amr_profiler" },
            mode: params.publish_dir_mode,
            pattern: "*/*tsv"
        ]
    }

    withName: 'VARIANT_ANALYSIS' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/amr_profiler" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'MLST' {
        ext.args = '--scheme neisseria'
        publishDir = [
            path: { "${params.outdir}/neissflow_out/amr_profiler" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'NGMASTER' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/amr_profiler" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'BLASTN' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/amr_profiler" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'MERGE_SINGLE_AMR' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/amr_profiler" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'MERGE_AMR' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/amr_profiler" },
            mode: params.publish_dir_mode,
            pattern: 'neissflow_*.tsv'
        ]
    }

    withName: 'SNIPPY_CORE' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/phylogeny/snippy_core" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'SNIPPY_CLEAN' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/phylogeny/snippy_core" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'REMOVE_REF' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/phylogeny/snippy_core" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'GUBBINS' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/phylogeny/gubbins" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'COUNT_MONO_NUC' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/phylogeny/gubbins" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'SNPDISTS' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/phylogeny/snp_dists" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'OUTBREAK_DETECTION' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/phylogeny/snp_dists" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'RAXMLNG' {
        ext.args = '--all --bs-trees autoMRE{300}'
        publishDir = [
            path: { "${params.outdir}/neissflow_out/phylogeny/RAxMLNG" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'REROOT' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/phylogeny/Gotree" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'CLUSTER_COLORING' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/phylogeny/Gotree" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'GOTREE_PNG' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/phylogeny/Gotree" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'REPORT' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/phylogeny/Gotree" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'PHYLOGENY_QC' {
        publishDir = [
            path: { "${params.outdir}/neissflow_out/phylogeny" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'MERGE_REPORTS' {
        ext.args = "${manifest.version}"
        publishDir = [
            path: { "${params.outdir}/neissflow_out" },
            mode: params.publish_dir_mode
        ]
    }
}